---
version: '3.9'
services:
  gerrit:
    image: gerritcodereview/gerrit:3.13.3
    container_name: gerrit
    restart: always
    volumes:
    - ./gerrit_dir/cache:/var/gerrit/cache
    - ./gerrit_dir/data:/var/gerrit/data
    - ./gerrit_dir/db:/var/gerrit/db
    - ./gerrit_dir/etc:/var/gerrit/etc
    - ./gerrit_dir/events-db:/var/gerrit/events-db
    - ./gerrit_dir/git:/var/gerrit/git
    - ./gerrit_dir/index:/var/gerrit/index
    - ./gerrit_dir/lib:/var/gerrit/lib
    - ./gerrit_dir/logs:/var/gerrit/logs
    - ./gerrit_dir/plugins:/var/gerrit/plugins
    - ./gerrit_dir/static:/var/gerrit/static
    - ./gerrit_dir/tmp:/var/gerrit/tmp
    - ./gerrit_dir/.ssh:/var/gerrit/.ssh
    environment:
    - CANONICAL_WEB_URL=${GERRIT_CANONICAL_WEB_URL}
    ports:
    - "29418:29418"
    - "8080:8080"
    networks:
    - gerrit

  forwarder:
    image: forwarder:latest
    build:
      context: ./forwarder
      dockerfile: Dockerfile
    container_name: webhook_forwarder
    restart: always
    environment:
    - GITHUB_TOKEN=${GITHUB_TOKEN}
    - GITHUB_ACTION_URL=${GITHUB_ACTION_URL}
    - TEST_MODE=${FORWARDER_TEST_MODE}
    depends_on:
    - gerrit
    volumes:
    - forwarder_logs:/var/log
    networks:
    - gerrit

  mergable_changes:
    image: mergable_changes:latest
    build:
      context: ./mergable_changes
      dockerfile: Dockerfile
    container_name: mergable_changes
    restart: always
    environment:
    - OUTPUT_DIR=${MERGABLE_CHANGES_OUTPUT_DIR}
    depends_on:
    - gerrit
    volumes:
    - mergable_changes_logs:/var/log
    - mergable_changes_out:/output
    networks:
    - gerrit

volumes:
  forwarder_logs:
  mergable_changes_logs:
  mergable_changes_out:

networks:
  gerrit:
    driver: bridge
