---
name: SPDK per-patch common tests

# Workflow intended to run tests which can be executed using standard
# Github runners, without any hardware-specific dependencies.

on:
  workflow_dispatch:
    inputs:
      gerrit_ref:
        description: 'Gerrit refspec to test following refs/changes/${change_number: -2}/${change_number}/${patch_set} format'
        required: false
        type: string
        default: ''
  workflow_call:
    inputs:
      client_payload:
        required: false
        type: string
        default: ''
      changed_files:
        required: false
        type: string
        default: ''

env:
  spdk_path: './spdk'
jobs:
  checkout_spdk:
    runs-on: ubuntu-latest
    env:
      gerrit_ref: ${{ inputs.client_payload != '' && fromJson(inputs.client_payload).patchSet.ref || inputs.gerrit_ref }}
    steps:
      # Required to use locally defined actions
    - name: Checkout the spdk-ci repo locally
      uses: actions/checkout@v4.1.7

    - name: Prepare SPDK repo by checking out from Gerrit
      uses: ./.github/actions/checkout_gerrit
      with:
        gerrit_ref: ${{ env.gerrit_ref }}
        spdk_path: ${{ env.spdk_path }}

    - name: Create repository tarball
      run: tar -C ${{ env.spdk_path }} -czf spdk.tar.gz .

    - name: Upload the repository tarball as an artifact
      uses: actions/upload-artifact@v4.4.0
      with:
        name: repo-spdk
        path: spdk.tar.gz

    - name: Checkout the spdk-abi repo
      uses: actions/checkout@v4.1.7
      with:
        repository: 'spdk/spdk-abi'
        path: './spdk-abi'
        fetch-depth: '0'
        fetch-tags: 'true'

    - name: Create abi tarball
      run: tar -C './spdk-abi' -czf spdk-abi.tar.gz .
    - name: Upload the abi tarball as an artifact
      uses: actions/upload-artifact@v4.4.0
      with:
        name: repo-spdk-abi
        path: spdk-abi.tar.gz

    - name: Select latest qcow2 artifact
      id: get_artifact_id
      # TODO: make it a composite action for reuse
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        set -x
        fedora_40=$(gh api --paginate "/repos/${{ github.repository }}/actions/artifacts?name=vm-image-fedora_40_x86_64" -q '.artifacts |= sort_by(.updated_at)[-1] | .artifacts.workflow_run.id')
        freebsd_14=$(gh api --paginate "/repos/${{ github.repository }}/actions/artifacts?name=vm-image-freebsd_14_x86_64" -q '.artifacts |= sort_by(.updated_at)[-1] | .artifacts.workflow_run.id')
        [[ -z "${fedora_40}" ]] && echo "fedora_40 is empty" && exit 1
        [[ -z "${freebsd_14}" ]] && echo "freebsd_14 is empty" && exit 1
        echo "artifact_id={'fedora_40':$fedora_40,'freebsd_14':$freebsd_14}" >> "$GITHUB_OUTPUT"
    outputs:
      artifact_id: ${{ steps.get_artifact_id.outputs.artifact_id }}

  distros-container:
    if: contains(inputs.changed_files, 'pkgdep')
    needs:
    - checkout_spdk
    strategy:
      matrix:
        # Keep latest 2 versions of each flavor here
        distro:
        - quay.io/centos/centos:9
        - quay.io/centos/centos:10
        - docker.io/rockylinux/rockylinux:9
        - docker.io/rockylinux/rockylinux:10
        - docker.io/library/ubuntu:20.04
        - docker.io/library/ubuntu:22.04
        - docker.io/library/ubuntu:24.04
        - docker.io/library/fedora:42
        - docker.io/library/fedora:43
        - docker.io/library/debian:12.12
        - docker.io/library/debian:11.11
        - docker.io/opensuse/leap:15.6
        # - docker.io/opensuse/leap:16.0
        # - mcr.microsoft.com/azurelinux/base/core:3.0
        # - docker.io/library/archlinux:base-20250907.0.417472
        include:
        # TODO: consider also [macos-latest, windows-2022]
        - os: ubuntu-22.04-arm
          distro: ""   # no container for this one
    runs-on: ${{ matrix.os || 'ubuntu-latest' }}
    container: ${{ matrix.distro != '' && matrix.distro || null }}
    steps:
    - uses: actions/download-artifact@v4.1.8
      with:
        name: repo-spdk
    - if: contains(matrix.distro, 'ubuntu') || contains(matrix.distro, 'debian')
      run: apt-get update
    - if: matrix.distro == 'docker.io/opensuse/leap:15.6'
      run: zypper install -y tar gzip
    - shell: bash
      env:
        TZ: Etc/UTC
        DEBIAN_FRONTEND: noninteractive
      run: |
        set -x
        tar xzf spdk.tar.gz --strip 1
        # TODO: consider 'autorun.sh' or 'autobuild.sh' or 'autotest.sh'
        ${{ matrix.distro == '' && 'sudo' || '' }} ./scripts/pkgdep.sh --all
        ./configure --enable-coverage \
            --without-uring \
            --without-fio \
            --without-rbd \
            --without-rdma \
            --without-shared \
            --without-iscsi-initiator \
            --without-vtune \
            --without-vfio-user
        source ./scripts/common.sh
        make -j

  autorun:
    name: ${{ matrix.workflow.name }}
    needs:
    - checkout_spdk
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      matrix:
        workflow:
        - {name: nvme-vm-autotest, nvme_setup: "zns", distro: "fedora_40", container_image: ghcr.io/refenv/cijoe-docker:v0.9.54,
          cijoe_config_prefix: qemuhost-with-guest}
        - {name: raid-vm-autotest, nvme_setup: "zns", distro: "fedora_40", container_image: ghcr.io/refenv/cijoe-docker:v0.9.54,
          cijoe_config_prefix: qemuhost-with-guest}
        - {name: bdev-vm-autotest, nvme_setup: "zns", distro: "fedora_40", container_image: ghcr.io/refenv/cijoe-docker:v0.9.54,
          cijoe_config_prefix: qemuhost-with-guest}
        - {name: nvmf-tcp-vm-autotest, nvme_setup: "zns", distro: "fedora_40", container_image: ghcr.io/refenv/cijoe-docker:v0.9.54,
          cijoe_config_prefix: qemuhost-with-guest}
        - {name: nvmf-tcp-uring-vm-autotest, nvme_setup: "zns", distro: "fedora_40", container_image: ghcr.io/refenv/cijoe-docker:v0.9.54,
          cijoe_config_prefix: qemuhost-with-guest}
        - {name: iscsi-vm-autotest, nvme_setup: "zns", distro: "fedora_40", container_image: ghcr.io/refenv/cijoe-docker:v0.9.54,
          cijoe_config_prefix: qemuhost-with-guest}
        - {name: iscsi-uring-vm-autotest, nvme_setup: "zns", distro: "fedora_40", container_image: ghcr.io/refenv/cijoe-docker:v0.9.54,
          cijoe_config_prefix: qemuhost-with-guest}
        - {name: short-fuzz-vm-autotest, nvme_setup: "zns", distro: "fedora_40", container_image: ghcr.io/refenv/cijoe-docker:v0.9.54,
          cijoe_config_prefix: qemuhost-with-guest}

        include:
        - workflow: {name: ftl-vm-autotest, nvme_setup: "ftl", distro: "fedora_40", container_image: ghcr.io/refenv/cijoe-docker:v0.9.54,
            cijoe_config_prefix: qemuhost-with-guest}
        - workflow: {name: freebsd-vm-autotest, nvme_setup: "default", distro: "freebsd_14", container_image: ghcr.io/refenv/cijoe-docker:v0.9.54,
            cijoe_config_prefix: qemuhost-with-guest}
        - workflow: {name: vfio-user-container-autotest, distro: "fedora_40", container_image: ghcr.io/spdk/spdk-ci:fedora_40,
            cijoe_config_prefix: container}
        - workflow: {name: check-format-container-autotest, distro: "fedora_40", container_image: ghcr.io/spdk/spdk-ci:fedora_40,
            cijoe_config_prefix: container}
        - workflow: {name: unittest-gcc-container-autotest, distro: "fedora_40", container_image: ghcr.io/spdk/spdk-ci:fedora_40,
            cijoe_config_prefix: container}
        - workflow: {name: unittest-clang-container-autotest, distro: "fedora_40", container_image: ghcr.io/spdk/spdk-ci:fedora_40,
            cijoe_config_prefix: container}
        - workflow: {name: unittest-valgrind-container-autotest, distro: "fedora_40", container_image: ghcr.io/spdk/spdk-ci:fedora_40,
            cijoe_config_prefix: container}
        - workflow: {name: release-build-gcc-container-autotest, distro: "fedora_40", container_image: ghcr.io/spdk/spdk-ci:fedora_40,
            cijoe_config_prefix: container}
        - workflow: {name: release-build-clang-container-autotest, distro: "fedora_40", container_image: ghcr.io/spdk/spdk-ci:fedora_40,
            cijoe_config_prefix: container}
        - workflow: {name: doc-container-autotest, distro: "fedora_40", container_image: ghcr.io/spdk/spdk-ci:fedora_40, cijoe_config_prefix: container}
        - workflow: {name: build-files-container-autotest, distro: "fedora_40", container_image: ghcr.io/spdk/spdk-ci:fedora_40,
            cijoe_config_prefix: container}
        - workflow: {name: scan-build-container-autotest, distro: "fedora_40", container_image: ghcr.io/spdk/spdk-ci:fedora_40,
            cijoe_config_prefix: container}
        - workflow: {name: check-so-deps-container-autotest, distro: "fedora_40", container_image: ghcr.io/spdk/spdk-ci:fedora_40,
            cijoe_config_prefix: container}
    env:
      REPOSITORY_TARBALL_PATH: ${{ github.workspace }}/spdk.tar.gz
      ABI_TARBALL_PATH: ${{ github.workspace }}/spdk-abi.tar.gz
      CI_CFGS_REPOSITORY_PATH: ${{ github.workspace }}/ci/cijoe/configs/autorun_configs
      NVME_SETUP: ${{ matrix.workflow.nvme_setup }}
      DISTRO: ${{ matrix.workflow.distro }}

    # TODO: Figure out how to pass volumes variable to container context
    container:
      image: ${{ matrix.workflow.container_image }}
      options: --device=/dev/kvm --privileged
      volumes:
      - "/dev/hugepages:/dev/hugepages"
      - "/usr/share:/host-usr-share"
      - "/usr/local:/host-usr-local"

    steps:
    # cijoe - for running cijoe workflows instead of writing own manual scrits;
    #         TODO: Installation doesn't take long but we should bake it into the container image.
    - name: Install cijoe
      if: ${{ contains(matrix.workflow.name, 'container') }}
      run: |
        pip install cijoe==0.9.54

    # ghcr.io/spdk/spdk-ci:fedora_40 is about ~10GB in size, leaving us with not much space
    # for tests after pulling the image. Reclaim some by removing features not used in SPDK tests
    # See: https://github.com/actions/runner-images/blob/main/images/ubuntu/Ubuntu2404-Readme.md
    # Run this ONLY on self-hosted runners and make sure it's not a local GH ACT runner (these
    # identify themselves as "github-hosted" runners!)
    - name: Cleanup runner
      if: ${{ contains(runner.environment, 'github-hosted') }}
      run: |
        [[ $GITHUB_ACTOR == "nektos/act" || ACT == "true" ]] && exit 0
        rm -rf /host-usr-share/dotnet \
          /host-usr-local/lib/android \
          /host-usr-local/share/edge_driver \
          /host-usr-local/share/gecko_driver \
          /host-usr-local/java/selenium-server.jar \
          /host-usr-local/share/chromedriver-linux64 \
          /host-usr-local/kotlin

    - name: Setup PATH
      run: |
        echo "$HOME/.local/bin" >> $GITHUB_PATH

    - name: Checkout CI repository
      uses: actions/checkout@v4.1.7
      with:
        path: ci

    - name: Download the SPDK repository
      uses: actions/download-artifact@v4.1.8
      with:
        name: repo-spdk

    - name: Download the SPDK ABI repository
      uses: actions/download-artifact@v4.1.8
      with:
        name: repo-spdk-abi

    - name: Extract the SPDK repository
      run: |
        tar xzf spdk.tar.gz --strip 1
        tar xzf spdk-abi.tar.gz --strip 1

    - name: Restore qcow2 image from cache
      if: contains(matrix.workflow.name, 'vm')  || contains(matrix.workflow.name, 'vfio-user')
      id: restore-qcow2
      uses: actions/cache/restore@v4
      with:
        path: ${{matrix.workflow.distro}}_x86_64.qcow2
        key: vm-image-${{matrix.workflow.distro}}_x86_64

    - name: Download VM Qcow2 image artifact
      uses: actions/download-artifact@v4.1.8
      if: (contains(matrix.workflow.name, 'vm')  || contains(matrix.workflow.name, 'vfio-user')) && hashFiles(format('{0}_x86_64.qcow2',
        matrix.workflow.distro)) == ''
      with:
        name: vm-image-${{matrix.workflow.distro}}_x86_64
        github-token: ${{ github.token }}
        run-id: ${{ fromJson(needs.checkout_spdk.outputs.artifact_id)[ matrix.workflow.distro ] }}

    - name: qemu-guest, initialize
      if: ${{ contains(matrix.workflow.name, 'vm') }}
      run: |
        cd ci/cijoe
        cijoe workflows/autorun.yaml guest_initialize guest_start guest_check \
        --config configs/${{ matrix.workflow.cijoe_config_prefix }}-${{matrix.workflow.distro}}.toml \
        --output report_${{ matrix.workflow.name }}_prep_guest \
        --monitor

    - name: qemu-guest, provision
      run: |
        cd ci/cijoe
        cijoe workflows/autorun.yaml guest_check tgz_transfer abi_transfer ci_configs_transfer tgz_unpack output_create \
        --config configs/${{ matrix.workflow.cijoe_config_prefix }}-${{matrix.workflow.distro}}.toml \
        --output report_${{ matrix.workflow.name }}_provision \
        --monitor

    - name: qemu-guest, ${{ matrix.workflow.name }}
      run: |
        cd ci/cijoe
        cijoe workflows/autorun.yaml ${{ matrix.workflow.name }} \
        --config configs/${{ matrix.workflow.cijoe_config_prefix }}-${{matrix.workflow.distro}}.toml \
        --output report_${{ matrix.workflow.name }} \
        --monitor

    - name: qemu-guest, cleanup
      if: always()
      run: |
        cd ci/cijoe
        cijoe workflows/autorun.yaml output_listing retrieve_autorun_output \
        --config configs/${{ matrix.workflow.cijoe_config_prefix }}-${{matrix.workflow.distro}}.toml \
        --output report_${{ matrix.workflow.name }}_cleanup \
        --monitor

    - name: qemu-guest, shutdown
      if: ${{ contains(matrix.workflow.name, 'vm') && contains(runner.labels, 'self-hosted') || env.ACT == 'true' }}
      run: |
        cd ci/cijoe
        cijoe workflows/autorun.yaml guest_shutdown \
        --config configs/${{ matrix.workflow.cijoe_config_prefix }}-${{matrix.workflow.distro}}.toml \
        --output report_${{ matrix.workflow.name }}_guest_shutdown \
        --monitor

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4.4.0
      if: always()
      with:
        path: /tmp/autorun_output
        name: common-job-${{ matrix.workflow.name }}

    - name: Upload Report
      uses: actions/upload-artifact@v4.4.0
      if: always()
      with:
        path: |
          ci/cijoe/report_${{ matrix.workflow.name }}
          ci/cijoe/report_${{ matrix.workflow.name }}_cleanup
          ci/cijoe/report_${{ matrix.workflow.name }}_prep_guest
        name: common-cijoe-${{ matrix.workflow.name }}
